~$quirements.docx
Nerdery.EventPlanner\TestResults\sbutler_SBUTLER-WIN7 2013-05-10 16_55_09/
Nerdery.EventPlanner/TestResults/sbutler_SBUTLER-WIN7 2013-05-10 16_55_09/Out/AgentRestart.dat
Nerdery.EventPlanner/TestResults/
*.tmp
Nerdery.EventPlanner/Web.Tests/bin/Release/
Nerdery.EventPlanner/Web.Tests/obj/Release/
Nerdery.EventPlanner/Web/obj/Release/
